
@{
    ViewBag.Title = "Customers Details";
}

<h2>Customer Information</h2>

<div>
    <table id="jqGrid"></table>
    <div id="jqControls"></div>
</div>



    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/themes/redmond/jquery-ui-1.8.2.custom.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/themes/ui.jqgrid.css" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.jqGrid.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/script.js"></script>


